.grey {
    background-color: grey;
}

.result-table td {
    border:  1px solid black;
    width: 10em;
}

.result-table thead {
    font-weight: bold;
    background-color: grey;
}

.result-table {
    border-collapse: collapse;
    border:  1px solid black;
}